<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mega_Subtitles_Reborn.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mega_Subtitles_Reborn.GeneralSettings>
            <setting name="CurrentProjectName" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ApplicationPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ProjectCacheFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="GeneralCacheFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="CurrentProjectNameFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="SubtitlesPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ProjectCahceJsonPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="SaveWindowSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDublicateCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DublicatedProjectCahceJsonPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="DublicateCachePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ReaperCommandsFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ReaperSyncFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="DeletedLinesJsonPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="DemoPhrasesPath" serializeAs="String">
                <value>C:\</value>
            </setting>
        </Mega_Subtitles_Reborn.GeneralSettings>
    </userSettings>
</configuration>